<div class="eqLogic-widget eqLogic" style="width:#TemplateWidth#px; height:#TemplateHeight#px;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-category="#category#" >
  <link rel="stylesheet" href="plugins/mitsubishimelcloud/core/template/css/mitsubishimelcloud.template.css"/>
  <link rel="stylesheet" href="plugins/mitsubishimelcloud/core/template/css/mitsubishimelcloud.slider.scss"/>
  
  <center class="widget-name"><a href="#eqLink#" style="font-size : 1.2em;#hideEqLogicName#"></a>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh#"><i class="fas fa-sync"></i></span>
  </center>
  
  <div class="TitleBar">#MitsuMelcloudName#</div>

  <div class="ScenariosColumn">
    <div class="CommandTitle">#Scenario#</div>
  </div>

  <div class="CommandBlock">
    <div class="CommandTitle">#ModeTitle#</div>
    <div class="CommandControls">
      <div class="HoriZone ZoneOn">
        <img src="plugins/mitsubishimelcloud/data/img/Operate_on_Ata_#OperationMode_Value#.png" style="width: 35px; margin-left:10px; margin-top: 5px;" />
        <span class="SelectedMode SelectedMode_#id#">TBD</span>
      </div>
      <div class="VertiButtonZone ModeSelection#id#">
        <div class="VertiZone"><label class="VertiButton ZoneOff" for="Mode_3" id="ButtonMode_3" data-key="3">
        </label></div>
        <div class="VertiZone"><label class="VertiButton ZoneOff" for="Mode_2" id="ButtonMode_2" data-key="2">
        </label></div>
        <div class="VertiZone"><label class="VertiButton ZoneOff" for="Mode_7" id="ButtonMode_7" data-key="7">
        </label></div>
        <div class="VertiZone"><label class="VertiButton ZoneOff" for="Mode_8" id="ButtonMode_8" data-key="8">
        </label></div>
        <div class="VertiZone"><label class="VertiButton ZoneOff" for="Mode_1" id="ButtonMode_1" data-key="1">
        </label></div>
      </div>
    </div>
  </div>

  <div class="CommandBlock">
    <div class="CommandTitle">#FanTitle#</div>
    <div class="CommandControls">
      <div class="VertiButtonZone FanSelection#id#">
        <div class="VertiZone"><label class="VertiButton ZoneOff" for="FanSpeed_1" id="ButtonFanSpeed_1" data-key="1">
          <label class="FanSpeedLabelVerti ButtonLabel" id="LabelFanSpeed_1">1</label>
        </label></div>
        <div class="VertiZone"><label class="VertiButton ZoneOff" for="FanSpeed_2" id="ButtonFanSpeed_2" data-key="2">
          <label class="FanSpeedLabelVerti ButtonLabel" id="LabelFanSpeed_2">2</label>
        </label></div>
        <div class="VertiZone"><label class="VertiButton ZoneOff" for="FanSpeed_3" id="ButtonFanSpeed_3" data-key="3">
          <label class="FanSpeedLabelVerti ButtonLabel" id="LabelFanSpeed_3">3</label>
        </label></div>
        <div class="VertiZone"><label class="VertiButton ZoneOff" for="FanSpeed_4" id="ButtonFanSpeed_4" data-key="4">
          <label class="FanSpeedLabelVerti ButtonLabel" id="LabelFanSpeed_4">4</label>
        </label></div>
        <div class="VertiZone"><label class="VertiButton ZoneOff" for="FanSpeed_5" id="ButtonFanSpeed_5" data-key="5">
          <label class="FanSpeedLabelVerti ButtonLabel" id="LabelFanSpeed_5">5</label>
        </label></div>
      </div>
      <div class="HoriZone FanSelection#id#"><label class="HoriButton ZoneOff" for="FanSpeed_0" id="ButtonFanSpeed_0" data-key="0">
          <label class="FanSpeedLabelHori ButtonLabel" id="LabelFanSpeed_0">Auto</label>
      </label>
      </div>
    </div>
  </div>

  <div class="CommandBlock">
    <div class="CommandTitle">#HoriTitle#</div>
    <div class="CommandControls">
      <div class="SquareButtonZone HoriSelection#id#">
        <div class="SquareZone HoriSelection#id# ZoneOff" id="ButtonHori">
          <label class="ButtonLabel" id="HoriBlock_1"></label>
          <label class="ButtonLabel" id="HoriBlock_2"></label>
          <label class="ButtonLabel" id="HoriBlock_3"></label>
          <label class="ButtonLabel" id="HoriBlock_4"></label>
          <label class="ButtonLabel" id="HoriBlock_5"></label>
        </div>
      </div>
      <div class="RectButtonZone HoriSelection#id#">
        <div class="RectZone"><label class="RectButton ZoneOff" id="ButtonHori_0" data-key="0">
          <label class="RectLabel ButtonLabel" id="LabelHori_0">Auto</label>
        </label></div>
        <div class="RectZone"><label class="RectButton ZoneOff" id="ButtonHori_12" data-key="12">
          <label class="RectLabel ButtonLabel" id="LabelHori_12">Basculer</label>
        </label></div>
      </div>
    </div>
  </div>

  <div class="CommandBlock">
    <div class="CommandTitle">#VertiTitle#</div>
    <div class="CommandControls">
      <div class="SquareButtonZone VertiSelection#id#">
        <div class="SquareZone VertiSelection#id# ZoneOff" id="ButtonVerti">
          <label class="ButtonLabel" id="VertiBlock_5"></label>
          <label class="ButtonLabel" id="VertiBlock_4"></label>
          <label class="ButtonLabel" id="VertiBlock_3"></label>
          <label class="ButtonLabel" id="VertiBlock_2"></label>
          <label class="ButtonLabel" id="VertiBlock_1"></label>
        </div>
      </div>
      <div class="RectButtonZone VertiSelection#id#">
        <div class="RectZone"><label class="RectButton ZoneOff" id="ButtonVerti_0" data-key="0">
          <label class="RectLabel ButtonLabel" id="LabelVerti_0">Auto</label>
        </label></div>
        <div class="RectZone"><label class="RectButton ZoneOff" id="ButtonVerti_7" data-key="7">
          <label class="RectLabel ButtonLabel" id="LabelVerti_7">Basculer</label>
        </label></div>
      </div>
    </div>
  </div>

  <div class="CommandBlock">
    <div class="CommandTitle">#TempTitle#</div>
    <div class="CommandControls">
      <div class="RoomTempLine">
        <span class="RoomTempLine_1">#RoomTempTitle#</span>
        <span class="RoomTempLine_2">#RoomTemperature#°C</span>
      </div>
      <div class="SetTemp" style='--min:#MinTemperature#; --max:#MaxTemperature#; --step:0.5; --value:#SetTemperature#; --text-value:"#SetTemperature#";'>
        <span class="SetTempTitle">#SetTempTitle#</span>
        <input type="range" min="#MinTemperature#" max="#MaxTemperature#" step="0.5" value="#SetTemperature#" 
          oninput="this.parentNode.style.setProperty('--value',this.value); this.parentNode.style.setProperty('--text-value', JSON.stringify(this.value))">
        <output></output>
        <div class='SetTemp__Progress'></div>
      </div>
    </div>
  </div>

  <div class="CommandBlock">
    <div class="CommandTitle">#ForecastTitle#</div>
    <div class="CommandControls">

    </div>
  </div>
    
  <script>
    /* Mode */
    // Button coloration & selected mode name
    var ModeCorresp#id# = {'1':'#Heat#','3':'#Cool#','2':'#Dry#','7':'#Fan#','8':'Auto'};
    $(".ModeSelection#id# #ButtonMode_#OperationMode_Value#").addClass("ZoneOn");
    $('.SelectedMode_#id#').text(ModeCorresp#id#[#OperationMode_Value#]);
    // Send selected mode to Melcloud
    $(".ModeSelection#id# label").click(function(){
      jeedom.cmd.execute({id: '#id#', value: {message: parseInt($(this).attr('data-key'))}, notify:true});
    });

    /* Fan speed */
    // Button coloration & selected fan speed
    $(".FanSelection#id# #ButtonFanSpeed_#FanSpeed_Value#").addClass("ZoneOn");
    $(".FanSelection#id# #LabelFanSpeed_#FanSpeed_Value#").addClass("ZoneOn");
    // Send selected fan speed to Melcloud
    $(".FanSelection#id# label").click(function(){
      jeedom.cmd.execute({id: '#id#', value: {message: parseInt($(this).attr('data-key'))}, notify:true});
    });

    /* Horizontal Vane */
    var CurrentHoriImage = "url('plugins/mitsubishimelcloud/data/img/VaneHorizontal_transitions_off.png')";
    if (#HoriVane_Value# == 0 || #HoriVane_Value# == 12) {
      $(".HoriSelection#id# #ButtonHori_#HoriVane_Value#").addClass("ZoneOn");
      $(".HoriSelection#id# #ButtonHori").css("background-image", "url('plugins/mitsubishimelcloud/data/img/VaneHorizontal_transitions_off.png')");
    } else {
      CurrentHoriImage = "url('plugins/mitsubishimelcloud/data/img/VaneHorizontal_transitions_#HoriVane_Value#.png')";
      $(".HoriSelection#id# #ButtonHori").css("background-image", CurrentHoriImage);
    }
    $('.HoriSelection#id# #HoriBlock_1').mouseover(function(){$(".HoriSelection#id# #ButtonHori").css("background-image", "url('plugins/mitsubishimelcloud/data/img/VaneHorizontal_transitions_1.png')");});
    $('.HoriSelection#id# #HoriBlock_1').mouseout(function(){$(".HoriSelection#id# #ButtonHori").css("background-image", CurrentHoriImage);});
    $('.HoriSelection#id# #HoriBlock_2').mouseover(function(){$(".HoriSelection#id# #ButtonHori").css("background-image", "url('plugins/mitsubishimelcloud/data/img/VaneHorizontal_transitions_2.png')");});
    $('.HoriSelection#id# #HoriBlock_2').mouseout(function(){$(".HoriSelection#id# #ButtonHori").css("background-image", CurrentHoriImage);});
    $('.HoriSelection#id# #HoriBlock_3').mouseover(function(){$(".HoriSelection#id# #ButtonHori").css("background-image", "url('plugins/mitsubishimelcloud/data/img/VaneHorizontal_transitions_3.png')");});
    $('.HoriSelection#id# #HoriBlock_3').mouseout(function(){$(".HoriSelection#id# #ButtonHori").css("background-image", CurrentHoriImage);});
    $('.HoriSelection#id# #HoriBlock_4').mouseover(function(){$(".HoriSelection#id# #ButtonHori").css("background-image", "url('plugins/mitsubishimelcloud/data/img/VaneHorizontal_transitions_4.png')");});
    $('.HoriSelection#id# #HoriBlock_4').mouseout(function(){$(".HoriSelection#id# #ButtonHori").css("background-image", CurrentHoriImage);});
    $('.HoriSelection#id# #HoriBlock_5').mouseover(function(){$(".HoriSelection#id# #ButtonHori").css("background-image", "url('plugins/mitsubishimelcloud/data/img/VaneHorizontal_transitions_5.png')");});
    $('.HoriSelection#id# #HoriBlock_5').mouseout(function(){$(".HoriSelection#id# #ButtonHori").css("background-image", CurrentHoriImage);});

    /* Vertical Vane */
    var CurrentVertiImage = "url('plugins/mitsubishimelcloud/data/img/VaneVertical_transitions_off.png')";
    if (#VertiVane_Value# == 0 || #VertiVane_Value# == 7) {
      $(".VertiSelection#id# #ButtonVerti_#VertiVane_Value#").addClass("ZoneOn");
      $(".VertiSelection#id# #ButtonVerti").css("background-image", "url('plugins/mitsubishimelcloud/data/img/VaneVertical_transitions_off.png')");
    } else {
      CurrentVertiImage = "url('plugins/mitsubishimelcloud/data/img/VaneVertical_transitions_#VertiVane_Value#.png')";
      $(".VertiSelection#id# #ButtonVerti").css("background-image", CurrentVertiImage);
    }
    $('.VertiSelection#id# #VertiBlock_1').mouseover(function(){$(".VertiSelection#id# #ButtonVerti").css("background-image", "url('plugins/mitsubishimelcloud/data/img/VaneVertical_transitions_1.png')");});
    $('.VertiSelection#id# #VertiBlock_1').mouseout(function(){$(".VertiSelection#id# #ButtonVerti").css("background-image", CurrentVertiImage);});
    $('.VertiSelection#id# #VertiBlock_2').mouseover(function(){$(".VertiSelection#id# #ButtonVerti").css("background-image", "url('plugins/mitsubishimelcloud/data/img/VaneVertical_transitions_2.png')");});
    $('.VertiSelection#id# #VertiBlock_2').mouseout(function(){$(".VertiSelection#id# #ButtonVerti").css("background-image", CurrentVertiImage);});
    $('.VertiSelection#id# #VertiBlock_3').mouseover(function(){$(".VertiSelection#id# #ButtonVerti").css("background-image", "url('plugins/mitsubishimelcloud/data/img/VaneVertical_transitions_3.png')");});
    $('.VertiSelection#id# #VertiBlock_3').mouseout(function(){$(".VertiSelection#id# #ButtonVerti").css("background-image", CurrentVertiImage);});
    $('.VertiSelection#id# #VertiBlock_4').mouseover(function(){$(".VertiSelection#id# #ButtonVerti").css("background-image", "url('plugins/mitsubishimelcloud/data/img/VaneVertical_transitions_4.png')");});
    $('.VertiSelection#id# #VertiBlock_4').mouseout(function(){$(".VertiSelection#id# #ButtonVerti").css("background-image", CurrentVertiImage);});
    $('.VertiSelection#id# #VertiBlock_5').mouseover(function(){$(".VertiSelection#id# #ButtonVerti").css("background-image", "url('plugins/mitsubishimelcloud/data/img/VaneVertical_transitions_5.png')");});
    $('.VertiSelection#id# #VertiBlock_5').mouseout(function(){$(".VertiSelection#id# #ButtonVerti").css("background-image", CurrentVertiImage);});

    /* Refresh button */
    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
      jeedom.cmd.execute({id: '#refresh#'});
    });
  </script>
  <script src="../js/mitsubishimelcloud.js"></script>
</div>